.hueWheel {
    position: relative;
    border-radius: 50%;
    background: conic-gradient(hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
    overflow: hidden;

    .line {
        transform-origin: center bottom;
        position: absolute;
        left: 50%;
        top: 0;
        height: 50%;
        background-color: #000;

        width: 100%;
        max-width: 1pt;
        transition: max-width 0.2s;
        &.highlighted {
            max-width: 3pt;
        }
    }
}
